<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Angular Application</title>

</head>
<body>
  <div class="container">
    <h1>Shopping list</h1>

    <form #AddItemForm="ngForm" (ngSubmit)="addItem(AddItemForm.value)">

      <div class="form-group">

        <label for="newItem">New Item:</label>
        <input type="text" ngModel id="itemname" name="itemname" class="form-control" placeholder="Enter item" required>

        <label for="Grocery">Choose a grocery:</label>
        <select id="grocery" ngModel name="grocery">
          <option value="biedronka">Biedronka</option>
          <option value="lidl">Lidl</option>
          <option value="aldi">Aldi</option>
          <option value="netto">Netto</option>
        </select>

        <label for="description">Description (additional):</label>
        <input type="text" ngModel id="description" name="description" class="form-control" placeholder="Description">

      </div>
      <button type="submit" class="button">Add Item to the List</button>
    </form>

    <table class="table" id="itemsTable">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Grocery</th>
          <th>Description</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of items; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ item.itemname }}</td>
          <td>{{ item.grocery }}</td>
          <td>{{ item.description }}</td>
          <td>
            <button class="button" (click)="editItem(i)">Edit</button>
            <button class="button" (click)="deleteItem(i)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="edit-form" id="editForm" *ngIf="editMode">
      <h2>Edit Item</h2>
      <form #UpdateItemForm="ngForm" (ngSubmit)="updateItem(UpdateItemForm.value)">
        <div class="form-group">
          <label for="editItemName">Edit Item:</label>
          <input type="text" [(ngModel)]="editItemData.itemname" name="itemname" class="form-control" required>

          <label for="editGrocery">Choose a grocery:</label>
          <select [(ngModel)]="editItemData.grocery" name="grocery" required>
            <option value="biedronka">Biedronka</option>
            <option value="lidl">Lidl</option>
            <option value="aldi">Aldi</option>
            <option value="netto">Netto</option>
          </select>

          <label for="editDescription">Description (additional):</label>
          <input type="text" [(ngModel)]="editItemData.description" name="description" class="form-control">
        </div>
        <button type="submit" class="button">Update</button>
        <button type="button" class="button" (click)="cancelEdit()">Cancel</button>
      </form>
    </div>
  </div>
</body>
</html>
